<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>드라마 리스트</title>
  </head>
  <body>
    <h1>드라마 리스트</h1>
    <table border="1">
      <thead>
        <tr>
          <th>이름</th>
          <th>나이</th>
          <th>커리어</th>
        </tr>
      </thead>
      <tbody>
        <% allActor.forEach(career => { %>
        <tr>
          <td><%= career.userName %></td>
          <td><%= career.age %></td>
          <td>
            <ul>
              <% career.careers.forEach(careerItem => { %>
              <li>
                <%= careerItem.title %> - <%= careerItem.role %> (<%=
                careerItem.category %>)
              </li>
              <% }) %>
            </ul>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div><a href="/careers/male">남자</a></div>
    <div><a href="/careers/female">여자</a></div>
    <div><a href="/careers/sameCareers">같은 커리어</a></div>
    <div><a href="/careers/movielist">영화 리스트</a></div>
    <div><a href="/careers/dramalist">드라마 리스트</a></div>
  </body>
</html>
